body,
html{
  margin: 0;
  height: 100vh;
  /*background: linear-gradient(to top, grey, lightgrey);*/
  background: black;
}

h1,
div {
  font-family: 'arial', sans-serif;
}

div {
  font-size: 14px;
}

h1 {
  margin: 15px 0 0;
  text-align: center;
}

img {
  width: 25px;
}

header {
  width: 100%;
  padding: 15px 0 15px 0;
  overflow: hidden;
}

.arrow {
  width: 50px;
  margin: auto;
}
.arrow object {
  width: 50px;
  height: 50px;
  z-index: 0;
}

svg {
  fill: #ffffff;
}

.connect {
  display: none;
}

.connection {
  width: 100px;
}

.on,
.off {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.on {
  background: #B6FF00;
  box-shadow: 0 0 3px 3px #B6FF00;
}

.off {
  background: red;
  box-shadow: 0 0 3px 3px red;
}

.inputContainer {
  margin: 50px 0 20px;
  padding: 10px 0 10px 10px;
  border-radius: 5px;
  overflow: hidden;
  background: white;
}

.emojiToggle {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.emojiContainer {
  display: none;
  width: 50%;
  height: 0;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 5px;
  background: white;
  z-index: 2;
}

.emojiActive {
  display: block;
  position: absolute;
  right: 290px;
  width: 150px;
  height: 35px;
  border: 2px solid grey;

}
.emoji {
  cursor: pointer;
}

.appendedEmoji {
  vertical-align: middle;
}

.not-sent {
  color: grey;
}
.name  {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  height: 100vh;
  width: 100%;
  background: black;
  z-index: 1;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.status {
  float: right;
  margin-right: 15px;
}

.output {
  display: inline-block;
  overflow: hidden;
  margin: 15px 0 15px 15px;
  padding: 15px;
  min-width: 150px;
  max-width: 400px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  text-align: left;
}

#window {
  max-width: 800px;
  margin: auto;
}

#name,
#color {
  width: 250px;
  display: block;
  margin-bottom: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  text-align: center;
  background: none;
  color: white;
  font-size: 40px;
}

.button {
  width: 175px;
  margin-top: 15px;
  border-radius: 10px;
  font-size: 18px;
  color: white;
  background: #95bc2a;
  box-shadow: 0px 2px 2px #000000;
}

#submit:hover {
  background: linear-gradient(to bottom,#78b324 0,#699d20 100%);
}

#chat-input {
  width: 85%;
  font-size: 17px;
  border-radius: 5px;
  overflow: hidden;
}

#chat-input:focus {
  outline: none;
  border: none;
}

#chat-input::before {
  color: grey;
}
#output {
  align-self: center;
  overflow: scroll;
  background-color: white;
}

#status {
  background: white;
}
