body {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 auto;
  background: linear-gradient(to top, grey, lightgrey);
}

h1,
div {
  font-family: 'arial', sans-serif;
}

div {
  font-size: 14px;
}

h1 {
  margin: 0;
  text-align: center;
}

img {
  width: 25px;
}

header {
  width: 100%;
  padding: 15px 0 15px 0;
  overflow: hidden;
}

.connect {
  display: none;
}

.connection {
  width: 100px;
}

.on,
.off {
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.on {
  background: #B6FF00;
  box-shadow: 0 0 3px 3px #B6FF00;
}

.off {
  background: red;
  box-shadow: 0 0 3px 3px red;
}

.emojiContainer {
  margin-bottom: 15px;
  border-radius: 5px;
  background: white;
}

.emoji {
  cursor: pointer;
}

.appendedEmoji {
  vertical-align: middle;
}

.not-sent {
  color: grey;
}
.name  {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

.status {
  float: right;
  margin-right: 15px;
}

.output {
  display: inline-block;
  margin: 15px 0 15px 15px;
  padding: 15px;
  min-width: 150px;
  max-width: 400px;
  text-align: center;
  line-height: 20px;
  background-color: #fff;

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
  text-align: left;
}


#window {
  margin-top: 100px;
  height: 100vh;

}
#chat-input {
  padding: 5px 0 20px 10px;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: white;
  overflow: hidden;
}

#chat-input::before {
  color: grey;
}
#output {
  align-self: center;
  overflow: scroll;
  background-color: white;
}

#status {
  background: white;
}
